.robot {
    position: absolute; /* Đặt vị trí tuyệt đối cho robot */
    transition: transform 0.1s; /* Hiệu ứng chuyển động mượt mà */
    pointer-events: none; /* Không cho phép tương tác với robot */
  }
  
  .robot img {
    width: 50px; /* Kích thước robot */
    height: auto; /*  Chiều cao tự động */
  }